.inputContainer {
  width: 250px;
  padding-bottom: 10px;
  margin: 20px 0;
}
.input {
  width: '100%';
  font-size: 20px;
  color: #eee;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;

}
.input::placeholder{
  color: rgb(187, 187, 187);
}

.inputContainerError {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(192, 83, 83);
}

.inputContainerValid {
    border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(84, 161, 84);
}

.inputContainerGray {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(185, 185, 185);
}