.centeredContainerWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.content {
  width: 800px;
  min-height: 50px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 1px #eee;
  border-radius: 2px;
}